@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<hr />
<h3>Hello!</h3>
<p>This is my demo of a financial transaction management application for businesses!</p>
<p>Created by Andrew Smith</p>
