html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*light*/
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --card-bg: #f8f9fa;
    --navbar-bg: #ffffff;
    --table-bg: #ffffff;
    --table-text: #000000;
}

/*dark*/
.dark-mode {
    --bg-color: #282828;
    --text-color: #ffffff;
    --card-bg: #282828;
    --navbar-bg: #222222;
    --table-bg: #333333;
    --table-text: #ffffff;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.card {
    background-color: var(--card-bg);
}

.navbar {
    background-color: var(--navbar-bg);
    color: var(--text-color);
}

.table {
    background-color: var(--table-bg);
    color: var(--table-text);
}

.table th, .table td {
    color: var(--table-text);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}